---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
	<a href="/posts/post-1/">1st Post</a>
</BaseLayout>
